.test1 {
	font-size: 50px;
	color: blue;
}
html,


.footer-margin {
  height: 10110px;
}

#sticky-footer {
  flex-shrink: none;
}

/* Other Classes for Page Styling */

body {
  background: #007bff;
  background: linear-gradient(to right, #614385 , #516395);
}