{% extends "data.html" %}

{% block daily_data_total %} 



<div class="row card-deck mr-1 ml-2">
    <div class="card text-center border-0">
        <div class="card-header bg-primary-cards-header bg-primary-text">
            <h4 class="my-0 font-weight-normal bg-header-text">Daily Confirmed Cases</h4>
        </div>
        <div class="card-body bg-primary-cards-body">
            <div class="">
                <canvas id="line-chart-daily"></canvas>
            </div>
        </div>
    </div>

    <div class="card text-center border-0">
        <div class="card-header bg-primary-cards-header bg-primary-text">
            <h4 class="my-0 font-weight-normal bg-header-text">Total Cases</h4>
        </div>
        <div class="card-body">
            <div class="">
                <canvas id="line-chart-ph"></canvas>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
	//ph total data
	var ph_recoveries = JSON.parse('{{ ph_recoveries|tojson|safe }}')
	var ph_deaths = JSON.parse('{{ ph_deaths|tojson|safe }}');
	var ph_dates = JSON.parse('{{ ph_dates|tojson|safe }}');
	var ph_confirmed = JSON.parse('{{ ph_confirmed|tojson|safe }}');
	//ph daily
	var ph_dates_daily = JSON.parse('{{ ph_dates_daily|tojson|safe }}');
	var daily_count = JSON.parse('{{ daily_count|tojson|safe }}');


</script>
{% endblock %}

