{% extends "layout.html" %} 


{% block main_data %}
<div class="container" style="margin-top: 1%;">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm ">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Active Cases</h4>
            </div>
            <div class="card-body">

                <h1 class="card-title pricing-card-title" style="color: #d8345f"> {{ active }}<small class="text-muted"></small></h1> 
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Recovered</h4>
            </div>
            <div class="card-body">
                
                <h1 class="card-title pricing-card-title"  style="color: #16817a"> {{ recovered }}<small class="text-muted"></small></h1> 
                
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Deaths</h4>
            </div>
            <div class="card-body">
                
                <h1 class="card-title pricing-card-title"> {{ death }}<small class="text-muted"></small></h1> 
            </div>
        </div>

    </div>
</div>
<div class="container" style="margin-top: 5%;">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Confirmed Cases</h4>
            </div>
            <div class="card-body">
                
                <h1 class="card-title pricing-card-title" style="color: #30475e"> {{ confirmed }}<small class="text-muted"></small></h1> 
                
            </div>
        </div>
</div>
</div>

{% endblock %}
