<!DOCTYPE html>
<html>

<head>
    <title> PH LIVE COVID19 Count </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheet/style.css') }}">
</head>

<body class="d-flex flex-column" style="background-color: #2B3856;">

    {% include 'navbar.html' %}

    

    {% block daily_data %} {% endblock %}
    {% block total_data %} {% endblock %}
    {% block body %} {% endblock %}
    <div class="container source-ref">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            
            <div class="card-body">
            <a href="https://ahmednafies.github.io/covid/john_hopkins/"  style="color: black" target="_blank"> Data from John Hopkins University API </a> 
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

</body>



<script src="{{url_for('static', filename='js/total.js')}}"></script>
<script src="{{url_for('static', filename='js/daily.js')}}"></script>

</html>